<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">

    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- boostrap css -->

  </head>
  <body>

        <div id="starting">
                <div class="container">
                  <div class="row">
                    <h1>List of Packages
                    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPackageModal">Add Package</button>
                    </h1>
                    
                    <table class="table">
                      <thead>
                        <tr>
                          
                          <th scope="col">Code</th>
                          <th scope="col">Sender</th>
                          <th scope="col">Consignee</th>              
                          <th scope="col">Destination</th>
                          <th scope="col">Employee</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody v-for="package in packages">
                        <tr  v-if="package.status === 'Transito'">
                                    <td>${package.code}</td>
                                    <td>${package.sender}</td>
                                    <td>${package.consignee}</td>
                                    <td>${package.destination}</td>
                                    <td >${package.employee}</td>
                                    <td>${package.status}</td>  
                          <td>
                                <button class="btn btn-info" v-on:click="getCustomer(customer.id)">Edit</button>
                                <button class="btn btn-danger" v-on:click="deleteCustomer(customer.id)">Delete</button>
                          </td>   
                        </tr>
                        
                    
                    </tbody>
                   
                </table>
                 </div>
                </div>
        </div>

        <!-- bootrtap js files -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
        <!-- vue.js files -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
        <script type="text/javascript">
            Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
            new Vue({
            el: '#starting',
            delimiters: ['${','}'],
            data: {
                packages: [],
                loading: true,
                currentPackage: {},
                message: null,
                newPackage: { 'code': null,'sender': null,'consignee': null,'destination': null,'phone': null,'charge': null,'charge_status': null,'status': null,'weight': null,'note': null,'employee': null },
                search_term: '',
            },
            datae: {
            employees: [],
            loading: true,
            currentEmployee: {},
            message: null,
            newEmployee: { 'user': null, 'phone': null, 'address': null, 'location': null },
            search_term: '',
            },
            mounted: function() {
                this.getPackages();
                this.getEmployees();
            },
            methods: {
            getPackages: function() {
            let api_url = '/api/package/';
            if(this.search_term!==''||this.search_term!==null) {
                api_url = `/api/package/?search=${this.search_term}`
            }
            this.loading = true;
            this.$http.get(api_url)
                .then((response) => {
                    this.packages = response.data;
                    this.loading = false;
                })
                .catch((err) => {
                    this.loading = false;
                    console.log(err);
                })
            },
            getEmployees: function() {
            let api_url = '/api/employee/';
            if(this.search_term!==''||this.search_term!==null) {
                api_url = `/api/employee/?search=${this.search_term}`
            }
            this.loading = true;
            this.$http.get(api_url)
                .then((response) => {
                    this.employees = response.data;
                    this.loading = false;
                })
                .catch((err) => {
                    this.loading = false;
                    console.log(err);
                })
            },
            getPackage: function(id) {
                this.loading = true;
                this.$http.get(`/api/package/${id}/`)
                    .then((response) => {
                        this.currentPackage = response.data;
                        $("#editPackageModal").modal('show');
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            },
            addPackage: function() {
                this.loading = true;
                this.$http.post('/api/package/',this.newPackage)
                    .then((response) => {
                        this.loading = true;
                        this.getPackages();
                    })
                    .catch((err) => {
                        this.loading = true;
                        console.log(err);
                    })
            },
            updatePackage: function() {
                this.loading = true;
                this.$http.put(`/api/package/${this.currentCustomer.id}/`, this.currentPackage)
                    .then((response) => {
                        this.loading = false;
                        this.currentCustomer = response.data;
                        this.getPackages();
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
                },
            deletePackage: function(id) {
                this.loading = true;
                this.$http.delete(`/api/package/${id}/`)
                    .then((response) => {
                        this.loading = false;
                        this.getPackages();
                    })
                    .catch((err) => {
                        this.loading = false;
                        console.log(err);
                    })
            }
        }
        
        });
   </script>
  </body>
</html>
